@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&family=Sixtyfour&family=Stack+Sans+Notch:wght@200..700&display=swap');
@import 'tailwindcss';  

@theme {
  --font-caveat: "Caveat", cursive;
  --font-lato: "Lato", sans-serif;
  --font-lora: "Lora", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
  --font-rubik-80s-fade: "Rubik 80s Fade", cursive;
  --font-sixtyfour: "Sixtyfour", sans-serif;
  --font-stack-sans-notch: "Stack Sans Notch", sans-serif;
}
*{
    background-color: #1a1a1a;
}