@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&family=Sixtyfour&family=Stack+Sans+Notch:wght@200..700&display=swap');
@import 'tailwindcss';  

@layer base{
  *{
  scroll-behavior: smooth;
  }
  body{
    background-color: #1a1a1a;
  }
}

@layer utilities{

  @keyframes typing{
    0%{
      width: 0ch;
    }
    100%{
      width: max-content;
    }
  }

  .type-projects, .type-name, .type-contacts{
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
  }


  .type-projects:nth-child(1), .type-name:nth-child(1), .type-contacts:nth-child(1){
    animation: typing 0.2s steps(1) forwards;
  }
  .type-projects:nth-child(2),.type-name:nth-child(2), .type-contacts:nth-child(2){
    animation: typing 0.3s steps(1) forwards;
  }
  .type-projects:nth-child(3),.type-name:nth-child(3),.type-contacts:nth-child(3){
    animation: typing 0.4s steps(1) forwards;
  }
  .type-projects:nth-child(4), .type-name:nth-child(4), .type-contacts:nth-child(4){
    animation: typing 0.5s steps(1) forwards;
  }
  .type-projects:nth-child(5), .type-name:nth-child(5), .type-contacts:nth-child(5){
    animation: typing 0.6s steps(1) forwards;
  }
  .type-projects:nth-child(6), .type-name:nth-child(6), .type-contacts:nth-child(6){
    animation: typing 0.7s steps(1) forwards;
  }
  .type-projects:nth-child(7), .type-name:nth-child(7), .type-contacts:nth-child(7){
    animation: typing 0.8s steps(1) forwards;
  }
  .type-projects:nth-child(8), .type-name:nth-child(8), .type-contacts:nth-child(8){
    animation: typing 0.9s steps(1) forwards;
  }

  

  .type-name:nth-child(9), .type-contacts:nth-child(9){
    animation: typing 1s steps(1) forwards;
  }
  .type-name:nth-child(10){
    animation: typing 1.1s steps(1) forwards;
  }
  .type-name:nth-child(11){
    animation: typing 1.2s steps(1) forwards;
  }
  .type-name:nth-child(12){
    animation: typing 1.3s steps(1) forwards;
  }

  .type-name:nth-child(13){
    animation: typing 1.4s steps(1) forwards;
  }


}


@theme {
  --font-caveat: "Caveat", cursive;
  --font-lato: "Lato", sans-serif;
  --font-lora: "Lora", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
  --font-rubik-80s-fade: "Rubik 80s Fade", cursive;
  --font-sixtyfour: "Sixtyfour", sans-serif;
  --font-stack-sans-notch: "Stack Sans Notch", sans-serif;
}


